*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 100%;
    background-image: url('images/bg 1.jpg');
    background-repeat: no-repeat;
    background-position: top left 700px;
    background-size: width 790px height 697px;
    margin: 0;
    padding: 0;
}

.title {
    color: #515076;
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin-top: 220px;
    margin-left: 217px;
    margin-right: 217px;
    margin-bottom: 110px;
    text-align: center;
}

.product-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    width: 1110px;
}

.product-image {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.skin-type {
    color: #515076;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.product-name {
    color: #515076;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
}


.description {
    color: #515076;
    font-size: 13px;
    line-height: 18px;
    width: 291px;
    height: 36px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.compound-label {
    color: #515076;
    font-size: 13px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 25px;
}

.compound-item {
    color: #515076;
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.last-compound-item {
    color: #515076;
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 0px;
}


.product-price {
    color: #515076;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.product-price span {
    font-weight: 400;
}



.card-background {
    background-color: #F7F7FA;
    width: 340px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    gap: 45px;
}

