.compound {
    margin-top: 0;
}

.compound__list {
    margin: 0;
    padding-left: 14px;
    color: #515076;
}

.card__compound.compound {
    text-align: left;
    margin-top: 20px;
    color: #515076;
}

.compound__name {
    display: block;
    margin-bottom: 6px;
}